/* .but {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    display: flex;
    cursor: pointer;
  } */

.inputList {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-wrap span {
  width: 120px;
  margin-right: 10px;
}

.input-wrap input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 30px;
}

.checkbox-wrap input[type="checkbox"] {
  margin-right: 10px;
}

.but {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-bottom: 12px;
}

.but:hover {
  background-color: #0056b3;
}


/* output-style */
.wrap-base64 {
  display: block;
  height: 250px;
  overflow: scroll;
}
